<form action="">
  <h2>CREAR PERSONAJE</h2>
  <div class="inputs-container">
    <input type="text" placeholder="Nombre del personaje" />
    <input type="number" placeholder="Año de nacimiento" />
    <input type="text" placeholder="Especies" />
    <input type="number" placeholder="Altura" />
    <input type="number" placeholder="Peso" />
    <select name="" id="">
      <option value="">Seleccionar género</option>
      <option value="">Hombre</option>
      <option value="">Mujer</option>
      <option value="">Ninguno</option>
    </select>
    <input type="text" placeholder="Color de cabello" />
    <input type="text" placeholder="Tono de piel" />
    <input type="text" placeholder="Planeta de origen" />
    <div class="container-image">
      <label for="">Cargar imagen:</label>
      <input type="file" />
    </div>
  </div>

  <button type="submit">Crear</button>
</form>
