<section class="container-detail">
  <img src="/assets/img/option_1.jpg" alt="">
  <div class="detail-info">
    <div class="buttons-option">
      <a href="" title="Editar">
        <img src="/assets/img/edit.png" alt="">
      </a>
      <a href="" title="Eliminar">
        <img src="/assets/img/delete.png" alt="">
      </a>
    </div>
    <h3>Dart Vader</h3>
    <div class="character-characteristic">
          <p><strong>Birth Year:</strong> 19BBY</p>
          <p><strong>Species:</strong> Unknown</p>
          <p><strong>Height:</strong> 172cm</p>
          <p><strong>Mass:</strong> 77kg</p>
          <p><strong>Gender:</strong> Male</p>
          <p><strong>Hair Color:</strong> Blond</p>
          <p><strong>Skin Color:</strong> Fair</p>
          <p><strong>Homeworld:</strong> Tatooine</p>
      </div>
  </div>
</section>
