main{
  background-image: url("/assets/img/img-background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 100px 0px 100px 0px;
}
