<section class="cards">
    <a class="card" routerLink="/characters">
        <img src="assets/img/option_1.jpg" alt="">
        <h2 style="background-color: var(--color-orange);">PERSONAJES</h2>
    </a>
    <a class="card" href="">
        <img src="assets/img/option_2.jpg" alt="">
        <h2 style="background-color: var(--color-green);">PELICULAS</h2>
    </a>
    <a class="card" href="">
        <img src="assets/img/option_3.jpg" alt="">
        <h2 style="background-color: var(--color-cyan);">ESPECIES</h2>
    </a >
    <a class="card" href="">
        <img src="assets/img/option_4.jpg" alt="">
        <h2 style="background-color: var(--color-blue);">NAVES</h2>
    </a>
    <a class="card" href="">
        <img src="assets/img/option_5.jpg" alt="">
        <h2 style="background-color: var(--color-purple);">VEHICULOS</h2>
    </a>
    <a class="card" href="">
        <img src="assets/img/option_6.jpg" alt="">
        <h2 style="background-color: var(--color-pink);">PLANETAS</h2>
    </a>
</section>
